

.slide-in-Y {
    animation: slideInY 0.4s ease forwards;
}
.slide-out-Y {
    animation: slideOutY 0.4s ease forwards;
}

@keyframes slideInY {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideOutY {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(100vh);
    }
}

